<script src="{% if site.github.url %}{{ site.github.url }}{% else %}{{ site.baseurl }}{% endif %}/js/vendor/jquery.js"></script>
<script src="{% if site.github.url %}{{ site.github.url }}{% else %}{{ site.baseurl }}{% endif %}/js/vendor/what-input.js"></script>
<script src="{% if site.github.url %}{{ site.github.url }}{% else %}{{ site.baseurl }}{% endif %}/js/vendor/foundation.js"></script>
<script src="{% if site.github.url %}{{ site.github.url }}{% else %}{{ site.baseurl }}{% endif %}/js/app.js"></script>
