<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img id="header_image" src="{% if site.github.url %}{{ site.github.url }}{% else %}{{ site.baseurl }}{% endif %}/img/cvflat.png"> {{ site.title }}</a>
  <div class="right">
    <a href="http://utdallas.edu/">The University of Texas at Dallas</a>
  </div>
  <div id="navbar">
    <a href="http://collegiumv.org">Home</a>
    <a href="http://account.collegiumv.org">Accounts</a>
    <a href="http://irc.collegiumv.org">IRC</a>
    {% for page in site.pages %}
    {% if page.title %}
    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
  </div>
</header>
