<header class="site-header">
    <div class="title-bar" data-responsive-toggle="main_menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">{{ site.title }}</div>
    </div>
    <div class="top-bar small-12" id="main_menu">
        <div class="row">
            <div class="top-bar-left stacked-for-small">
                <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
                    <li class="hide-for-small-only menu-text"><a href="{{ site.baseurl }}/" class="menu-title">{{ site.title }}</a></li>
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="http://account.collegiumv.org/">Accounts</a></li>
                    <li><a href="http://irc.collegiumv.org/">IRC</a></li>
                    <li><a href="http://collegiumv.librarika.com/search/">Library</a></li>
                    <li><a href="http://doc.collegiumv.org">Docs</a></li>
                    {% for page in site.pages %}
                        {% if page.title %}
                            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="show-for-large top-bar-right">
                <ul class="menu">
                    <li><a href="http://www.utdallas.edu/">The University of Texas at Dallas</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
